@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');


  

.logo{
  position: relative;
  display:block;
  width: 50%;
  max-width: 100px; 
  justify-content: center;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}








